{% extends 'base.html.twig' %}

{% block title %}
    <title>Users Create</title>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Registro de Nuevos Usuarios</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        {{ form_start(form_users, {'attr': {'class': 'needs-validation'}}) }}
                            <div class="mb-3">
                                {{ form_label(form_users.name, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form_users.name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form_users.lastname, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form_users.lastname, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form_users.email, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form_users.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form_users.password, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form_users.password, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="d-grid">
                                {{ form_widget(form_users.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        {{ form_end(form_users) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
