{%extends('base.html.twig')%}


{%block title%}
    <title>Users List</title>
{%endblock%}


 {% block body %}
    
<h1 class="text-center">Users</h1>

    <ul>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.name ~ ' ' ~ user.lastname}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                     <form method="get" action="{{ path('deleteUser', {'id': user.id}) }}" style="display:inline">
                        <button type="button" class="btn btn-outline-primary">Editar</button>
                    </form>
                   <form method="get" action="{{ path('deleteUser', {'id': user.id}) }}" style="display:inline">
                        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                  </form>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay usuarios disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </ul>



{% endblock %}




{# Uncomment the following block if you want to use it later

{# {%block body%}
    <h1>Users</h1>
    <ul>
        {%for user in users%}
            <li>{{user.name}} ({{user.email}})</li>
        {%endfor%}
    </ul>
{%endblock%} #}